body {
  font-family: Helvetica, Arial, sans-serif;
}

#fond {
  width: auto;
  height: 100vh;
  background-image: url(Images/web-design-2038872_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

}

#nav {
  background-color: rgba(250, 250, 250, 0.9);
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  width: 100%;
}

a {
  color: #50514f;
  font-size: 15px;
  font-weight: bold;
}

a:hover {
  color: #f25f5c;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

#logo {
  height: 50px;
}

#espace {
  height: 50vh;
}

#nom {
  color: #f25f5c;
}

#nom h1 {
  font-size: 75px;
  font-weight: bold;
}

#propos {
  width: auto;
  height: 100vh;
  background-image: url(Images/Mapmonde.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #50514f;
}

#propos h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#service {
  width: auto;
  height: 100vh;
  background-image: url(Images/Mapmonde.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #50514f;
}

#service h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#competences {
  width: 100%;
  height: 100vh;
  background-image: url(Images/Mapmonde.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #50514f;
}

#competences h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#realisations {
  width: auto;
  height: 100vh;
  background-image: url(Images/Mapmonde.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #50514f;
}

#realisations h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#contact {
  width: auto;
  height: 97vh;
  background-image: url(Images/Mapmonde.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #50514f;
}

#contact h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

#form {
  margin-top: 90px;
  margin-left: 20%;
  width: 60%;
}

#button {
  background-color: #50514f;
  border-color: #50514f;
}

footer {
  background-color: #f25f5c;
  height: 3vh;
}

footer div {
  text-align: center;
  font-size: small;
}

.progress {
  background-color: rgb(250, 250, 250, 0.5);
  border-color: #50514f;
  border-style: solid;
  height: 25px;
}

.progress-bar {
  background-color: rgb(80, 81, 79, 0.3);
  color: #50514f;
  font-weight: bold;
  font-size: 15px;
}

#languages {
  margin-top: 125px;
  margin-left: 20%;
  width: 60%;
}

#languages h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #f25f5c;
}

#cms {
  margin-top: 20px;
  margin-left: 20%;
  width: 60%;
}

#cms h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #f25f5c;

}

#profil {
  width: 20%;
  margin-top:-10vh;
  margin-left: 130vh;
}

#presentation {
  width: 50%;
  margin-top: 125px;
  margin-left: 10vh;
  text-align: justify;
}

#real {
  margin-top: 100px;
  width: 70%;
  margin-left: 15%;
}
#real img {
  height: 70vh;
}

#offre {
  margin-top: 100px;
  width: 100%;
  display: flex;
  text-align: center;
}

#offre h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #f25f5c;
}
#offre p {
  text-align: justify;
}

#tarif {
  margin-top: 0px;
  width: 100%;
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
#tarif h3 {
  font-weight: bold;
  color: #50514f;
}

#liens {
  width: 100%;
  margin-left: 10px;
  margin-top: 15px;
  position: fixed;
  z-index: 1;
}
